 <!-- =================== SIDEBAR ================== -->

 <input type="checkbox" id="check">
 <label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-arrow-left" id="cancel"></i>
 </label>
 <div class="sidebar">
  <header><a href="#"><i class="logo fas fa-university"></i>Appname</a></a></header>
  <ul class="mainHead">
   <li><a href="#"><i class="fas fa-globe-asia"></i>Internships & Jobs</a></li>
  </ul>
  <ul class="mainHead">
   <li><a href="#"><i class="fas fa-book-open"></i>School Work</a></li>
  </ul>
  <ul class="mainHead">
   <li><a href="#"><i class="fas fa-calendar-alt"></i>Planner</a></li>
   <li><a href="#"><i class="fas fa-bookmark"></i>Post-its</a></li>
   <li><a href="#"><i class="fas fa-clipboard"></i>To-do List</a></li>
   <li><a href="#"><i class="fas fa-book"></i>Mathematics</a></li>
   <li><a href="#"><i class="fas fa-book"></i>Logic Design</a></li>
   <li><a href="#"><i class="fas fa-book"></i>Data Structures</a></li>
   <li><a href="#"><i class="fas fa-book"></i>OOPD</a></li>
   <li><a href="#"><i class="fas fa-book"></i>Computer Organization</a></li>
   <li><a href="#"><i class="fas fa-chart-bar"></i>Grades</a></li>
   <li><a href="#"><i class="fas fa-file-alt"></i>All Assignments</a></li>
  </ul>
  <ul class="mainHead">
   <li><a href="#"><i class="fas fa-money-bill-wave"></i>Student Loan</a></li>
  </ul>
 </div>